<script type="text/javascript" src="{path_design}js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="{path_design}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{path_design}js/fix-and-clock.js"></script>
<script type="text/javascript" src="{path_design}js/modernizr.js"></script>


<script type="text/javascript" src="{path_design}js/ajax.js"></script>
