<div class="panel {type_message}">
    <div class="panel-heading">
        <h3 class="panel-title">{titre}</h3>
    </div>
    <div class="panel-body">
        {message}
    </div>
    <div class="panel-footer">
        {lien}
    </div>
</div>
