<div class="col-lg-4"></div>
<div class="col-lg-4">
	<p>Démonstration Canvas 3D (WebGL) avec Three.js <a href="controller/ajax_planets.php">(fonctionne)</a></p>
	<div id="container"><!--scene--></div>
</div>
<div class="col-lg-4"></div>
<script type="text/javascript" src="{path_design}Js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="{path_design}Js/three.min.js"></script>
<script type="text/javascript" src="{path_design}Js/animate_planets.js"></script>