
<!-- Static navbar -->
<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{menu}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="{path_design}Images/wootook.png" alt="{title_game}" width="150" title="{title_game}" />
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
				<li><a href="#" id="planete" class="dropdown" onclick="ExeRqt('ajax_planets.php', '', 'pageLogin');" title="planets test">planets test</a></li>
                <li><a href="#" class="dropdown" onclick="ExeRqt('ajax_login_accueil.php', '', 'pageLogin');" title="{home}">{home}</a></li>
                <li><a href="#" class="dropdown" onclick="ExeRqt('ajax_login_connexion.php', '', 'pageLogin');" title="{connect}">{connect}</a></li>
                <li><a href="#" class="dropdown" onclick="ExeRqt('ajax_login_inscription.php', '', 'pageLogin');" title="{register}">{register}</a></li>
				<li><a href="#" class="dropdown" onclick="ExeRqt('ajax_login_credit.php', '', 'pageLogin');" title="{credit}">{credit}</a></li>  
                <li><a href="http://wootook.org/" class="dropdown" title="{board}">{board}</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</div>
