<div class="col-lg-4"></div>
<div class="col-lg-4">
    <form class="form-horizontal" method="POST">
        <input type="hidden" name="page" value="inscription" /> <!-- la redirection -->  
        <fieldset>
            <legend>{title_sign}</legend>
            <div class="form-group">
                <label for="ididentifiant" class="col-lg-4 control-label">{username}: </label>
                <div class="col-lg-8">
                    <input type="text" placeholder="{username}" name="identifiant" id="ididentifiant" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="idmotdepasse" class="col-lg-4 control-label">{password}: </label>
                <div class="col-lg-8">
                    <input type="password" placeholder="{password}" name="motdepasse" id="idmotdepasse" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="idemail" class="col-lg-4 control-label">{sign_email}: </label>
                <div class="col-lg-8">
                    <input type="email" placeholder="{sign_email}" name="email" id="idemail" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="idPM" class="col-lg-4 control-label">{sign_name_pla}:</label>
                <div class="col-lg-8">
                    <input type="text" placeholder="{sign_name_pla}" name="PM" id="idPM" class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="{sign_valide}">
                <input type="reset" class="btn btn-danger" value="{sign_reset}">
            </div>
        </fieldset>
    </form>
</div>
<div class="col-lg-4"></div>
